.image-area {
    font-family: sans-serif;
    position: relative;
    text-align: center; 
    background-color: #3464b8;
    background-position: cover;
    height: 100%;
    left:0px;
  }
  .image-item {
    display: flex;
    margin: 2px 0px;
  }
  .image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }


  .design-area{
    text-align: center; 
    background-color: #3464b8;
    background-position: cover;
  }

  .t-shart{
    position: relative;
    z-index: 0;
    height: 50%;
    width: 50%;
  }
  
  .t-shirt-text{
    border: 1px solid goldenrod;
    width: 220px;
    height: 220px;
    padding-top: 60px;
    position: absolute;
    z-index: 0;
    font-size: 10vh;
    margin-top: -420px;
    margin-left: 440px;
  }

  .modal{
    z-index: 999;
  }

  .left-button{
    float: left;
    left: 25px;
    margin-top: 250px;
  }

  .right-button{
    float: right;
    right: 25px;
    margin-top: 250px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: transparent;
    font-size: 28px;
    font-family: "Arial", sans-serif;
    font-weight: 900;
    width: 200px;
    height: 100px;
    margin: 5px;
  }
 