.image-area {
    font-family: sans-serif;
    position: relative;
    text-align: center; 
    background-color: #3464b8;
    background-position: cover;
    height: 100vh;
    left:0px;
  }
  .image-item {
    display: flex;
    margin: 2px 0px;
  }
  .image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .design-area{
    text-align: center; 
    background-color: #3464b8;
    background-position: cover;
  }

  .t-shart{
    position: relative;
    z-index: 0;
    height: 30%;
    width: 35%;
  }
  
    .modal{
    z-index: 999;
  }

  .left-button{
    position: absolute;
    float: left;
    left: 25px;
  }

  .right-button{
    position: absolute;
    float: right;
    right: 25px;
   
  }

  .card {
    position: relative;
    border-style: none!important;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: transparent!important;
    font-size: 5vh;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    height: 10vh;
    width:  29vh;
    margin: 5px;
  }
 