.background{
    background-image: url("/src/images/bg.jpg");  
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    height: 100vh;
    width: auto
}

.bg-success{
    border-radius: 5px;
    width: 80px;
}

.navbar-brand{
    height: 60px;
    width: 150px;
}

.banner-text{
    top:60px;
}

h1{
    font-size: 5vh;
    color: tomato;
}
p{
    color: black;
    font-size: 3vh;
}
.img-fluid{
    width: 72%;
    height: 70%;
    z-index: 1;
}